.button-gradient-background{
  width: fit-content;
  cursor: pointer;
  background: var(--primary-gradient);
  padding: .10rem;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.5));
  transition: 0.3s;

  .button-hover-background{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;

    border-radius: 4px;
    padding: .25rem .5rem;
    background: var(--grey900);

    span{
      font-size: 20px;
    }

  }
}

.button-gradient-background:hover{
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  transition: 0.3s;
}
