.dashboard-container{
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  gap: 2rem;


  .game-and-history-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;

    app-dashboard-card{
      width: 100%;
    }
  }
}
