<div class="header">
  <div (click)="goToDashboard()" *ngIf="isLogoVisible" class="header-group logo">
    <img class="simple-glow" src="assets/icons/controller-icon.svg">
    <span class="simple-glow">CANAP</span>
  </div>

  <div *ngIf="isSettingsVisible && isLogoVisible" class=" header-group">
    <img (click)="logout()" class="simple-glow logout-icon" src="assets/icons/settings-icon.svg">
    <div class="simple-glow user-display-name">
      <span>{{authService.displayNameLetter}}</span>
    </div>
  </div>
</div>
