<div *ngIf="gameNight$ | async as gameNight" class="summary-container">


  <div>
    <p>{{gameNight.games[gameIndex].game.name}}</p>
    <p>Round {{GetGameRound(gameNight)}}</p>
  </div>



  <div [ngClass]="{'reverse': roundIndex===1}"  class="prev-next-buttons">
    <app-primary-button *ngIf="roundIndex>1" [buttonText]="'Previous'" (clickEmitter)="previousRound()"></app-primary-button>
    <app-primary-button  *ngIf="roundIndex<getTotalRound()" [buttonText]="'Next'" (clickEmitter)="nextRound()"></app-primary-button>
    <app-primary-button  *ngIf="roundIndex===getTotalRound()" [buttonText]="'Results'" (clickEmitter)="goToResultEvent.emit()"></app-primary-button>
  </div>




</div>
