.add-game-container{
  display: flex;
  flex-direction: row;
  height: 100vh;

  .form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 40vw;

    padding-left: 2rem;
    gap: 3rem;

    .inputs-container{

      display: flex;
      flex-direction: column;
      gap: 1rem;

      input{
        outline: none;
        border: none;
        border-bottom: 1px solid var(--grey500);
        background: var(--grey900);

        color: white;
      }
      input:focus{
        border-bottom: 1px solid var(--primary)!important;
      }
    }
  }
  .image-container{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60vw;

    .import-card{
      padding: 1rem 0;
      max-width: 600px;
      font-size: 20px!important;
      background: var(--grey700);
      border-radius: 20px;
      box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
      transition: 0.2s;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;



      .or-text{
        display: flex;
        flex-direction: row;
        gap: .5rem;
        color: var(--grey500);
      }

      .image-icon{
        width: 40px;
        height: 40px;
      }
    }
    .import-card:hover{
      box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
    }
  }
}

.uploaded-image-container{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.upload-button{
  cursor: pointer;
  padding: 16px 32px;
  border: 2px solid var(--primary);
  border-radius: 8px;
  transition: 0.2s;
}
.upload-button:hover{
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

