.login-background{
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../../../assets/images/login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Login-action-container{
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5vh;

  .login-logo{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      width: 80px;
    }

    .login-text-logo{
      font-size: 48px;
    }
  }

  .button-gradient-background{

    cursor: pointer;
    background: var(--primary-gradient);
    padding: .10rem;
    border-radius: 4px;

    .button-hover-background{
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: .5rem;

      border-radius: 4px;
      padding: .25rem .5rem;
      background: var(--grey900);

      span{
        font-size: 20px;
      }

    }
  }
}
