<div class="dashboard-card">
  <div class="dashboard-card-header">
    <div class="dashboard-card-header-container">
      <img src="{{cardIconUrl}}">
      <span class="card-title">{{cardTitle}}</span>
    </div>
    <div (click)="onAddEvent.emit()" class="dashboard-card-header-container add-button">
      <span class="card-title">Add</span>
      <img src="assets/icons/add-icon.svg">
    </div>
  </div>

  <div *ngIf="gameNights &&  gameNights.length > 0 || games && games.length > 0 else noContent">

    <div *ngIf="gameNights && gameNights.length>0" class="dashboard-card-content">
      <div class="card-content-item" *ngFor="let gameNight of gameNights">
        <span>{{gameNight.name}}</span>
        <span>12 Players</span>
        <span>Teams of 3</span>
        <app-card-item-menu (deleteEvent)="deleteEvent.emit(gameNight)"
                            (editEvent)="editEvent.emit(gameNight)"
                            (runEvent)="runEvent.emit(gameNight)"
        ></app-card-item-menu>
      </div>
    </div>

    <div *ngIf="games && games.length>0" class="dashboard-card-content">
      <div class="card-game-content-item" *ngFor="let game of games">
        <div class="item-title">
          <div class="game-preview" [style.background-image]="'url(' + game.imageUrl + ')'" ></div>
          <span>{{game.name}}</span>
        </div>

        <app-card-item-menu (deleteEvent)="deleteEvent.emit(game)"
                            (editEvent)="editEvent.emit(game)"
                            (runEvent)="runEvent.emit(game)"
        ></app-card-item-menu>

      </div>
    </div>
  </div>

</div>


<ng-template #noContent>
  <div class="dashboard-card-no-content">
    <img class="no-content-icon" src="assets/icons/no-content-icon.svg">
    <span class="normal-text no-content-text">No Game Night created</span>
  </div>
</ng-template>
