<app-header style="position: absolute" [isSettingsVisible]="false"></app-header>
<div class="add-gameNight-container">
  <div class="form-container">
    <app-game-night-name *ngIf="counter===0"
                         (nameEmitter)="updateName($event)"
                         style="width: 100%"
    ></app-game-night-name>

    <app-game-night-number-input *ngIf="counter===1"
                                 (numberEmitter)="updatePlayerByTeam($event)"
                                 [title]="'How many players by team ?'"
                                 style="width: 100%"
    ></app-game-night-number-input>

    <app-game-night-number-input *ngIf="counter===2"
                                 (numberEmitter)="updateNumberOfTeam($event)"
                                 [title]="'How many Teams ?'"
                                 style="width: 100%"
    ></app-game-night-number-input>


    <ng-container *ngFor="let team of (gameNight$|async)?.teams?.slice()?.reverse(); let index = index">
      <app-game-night-create-team
                                  *ngIf="counter===3 + index"
                                  (teamEmitter)="updateTeams($event,index)"
                                  style="width: 100%">
      </app-game-night-create-team>
    </ng-container>


    <app-game-night-number-input *ngIf="counter === (3 + gameNightService.gameNight.numberOfTeam)"
                                 (numberEmitter)="updateNumberOfGame($event)"
                                 [title]="'How many games ?'"
                                 style="width: 100%"
    ></app-game-night-number-input>

    <ng-container *ngFor="let team of (gameNight$|async)?.games?.slice()?.reverse(); let index = index">
      <app-game-night-add-game *ngIf="counter === (4 + gameNightService.gameNight.numberOfTeam + index ) && numberOfGame"
                                   (gameEmitter)="updateGames($event,index)"
                                   [title]="'How many games ?'"
                                   [numberOfTeam]="numberOfTeams"
                                   style="width: 100%"
      ></app-game-night-add-game>
    </ng-container>

    <app-game-night-save *ngIf="counter===4 + gameNightService.gameNight.numberOfTeam + gameNightService.gameNight.numberOfGame"
                         (saveEmitter)="save()"
                         style="width: 100%"
    ></app-game-night-save>

    <app-stepper [numberOfGame]="numberOfGame"
                 [numberOfPlayerByTeam]="numberOfPlayerByTeam"
                 [numberOfTeams]="numberOfTeams"
                 (stepEmitter)="updateCounter($event)"
    ></app-stepper>

  </div>

  <div class="illustration-container"  [style.background-image]="'url(../../../assets/images/create-gameNight.png)'"></div>
</div>

