<div [formGroup]="addGameForm" class="form-container">
  <div class="input-container">
    <span>Add first game</span>

    <div class="inputs-container">

      <div (click)="toggleSelector()" class="game-selector-container">
        <span *ngIf="!selectedGame">Game</span>
        <span *ngIf="selectedGame">{{selectedGame.name}}</span>
        <img src="assets/icons/arrow-down-icon.svg">

        <div [ngClass]="{'active': isSelectorActive}"
             class="selector"

        >
          <span (click)="selectGame(game)" *ngFor="let game of games" >{{game.name}}</span>
        </div>
      </div>

      <input formControlName="numberOfRounds" placeholder="Number Of Round">
    </div>

  </div>

  <div class="input-container">
    <span>Points by ranking</span>
    <div class="ranking-container">
      <input formControlName="first" placeholder="1st">
      <input formControlName="second" placeholder="2nd">
      <input formControlName="third" placeholder="3rd">
      <input formControlName="fourth" placeholder="4th">
    </div>
  </div>

  <app-primary-button *ngIf="addGameForm.valid && selectedGame" (clickEmitter)="submit()" [buttonText]="'Next'"></app-primary-button>
</div>
