<div (mouseenter)="onMouseEnter()" class="card-item-menu">
  <img src="assets/icons/menu-icon.svg">


</div>

<div (mouseleave)="onMouseLeave()" class="popup-container">
  <div *ngIf="isHover" class="popup">
    <div *ngIf="isRunnable" (click)="runEvent.emit()" class="popup-item">
      <img src="assets/icons/game-icon.svg">
      <span>Run</span>
    </div>
    <div *ngIf="isEditable" (click)="editEvent.emit()" class="popup-item">
      <img src="assets/icons/add-icon.svg">
      <span>Edit</span>
    </div>
    <div *ngIf="isDeletable" (click)="deleteEvent.emit()" class="popup-item">
      <img src="assets/icons/delete-icon.svg">
      <span>Delete</span>
    </div>
  </div>
</div>

